<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row container d-flex justify-content-center">
          <div class="col-lg-12">
              <div class="card px-3">
                  <div class="card-body">
                      <h4 class="card-title">Todo list</h4>
                      <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?" [(ngModel)]="todo.text"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn" (click)="addTodo()">Add</button> </div>
                      <div class="list-wrapper">
                          <ul class="d-flex flex-column-reverse todo-list">
                              <li *ngFor="let todo of todos | async; let i = index" [class]="todo.actif ? ' mt-2' : 'completed mt-2'">
                                  <div class="form-check"> <label class="form-check-label" > <input class="checkbox" type="checkbox" [checked]="todo.actif" (change)="toggleTodo(todo)"> <span >{{ todo.text }}</span>  <i class="input-helper"></i></label> <button class="add btn btn-danger font-weight-bold todo-list-add-btn float-right" (click)="removeTodo(todo)">Remove</button></div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
